@import 'base';

.card {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  padding: 24px !important;

  &.card--padding-lg {
    padding: 48px !important;
  }

  &.card--narrow-centered {
    @extend .col-md-4;
    @extend .col-md-offset-4;
  }

  &.card--md {
    @extend .col-md-6;
    @extend .col-md-offset-3;
  }

  &.card--dark {
    background-color: $dark !important;
    color: $white;
  }

  &.card--med-dark {
    background-color: #444 !important;
  }

  &.card--off-white {
    background-color: #FAFAFA;
  }

  .card__header {
    margin-top: 0;
    margin-bottom: 24px;

    &.card__header--centered {
      text-align: center;
    }
  }

  &.card--feature {
    margin: 0 auto 12px auto;
    max-width: 800px;
    display: flex;
    align-items: center;
    flex-direction: row;

    .card-feature-summary {
      margin-right: 24px;
      flex-grow: 1;
    }

    .card-feature-upvote {
      width: 10px;
    }
  }
}
