/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require_tree .
 *= require_self
 */

$purple: #560CA1;
$green: #0CA124;
$blue: #186ED6;
$red: #851616;

$brand-primary: $blue;
$border-radius-base: 3px;

@import 'bootstrap-sprockets';
@import 'bootstrap';

@mixin hover-state {
  &:hover,
  &:active,
  &:focus,
  &:active:focus {
    @content;
  }
}


body {
  padding-top: 80px;
  background-color: #F8F8FA;
}

.navbar-default {
  background-color: #FFF;
}

.button--primary {
  @extend .btn;
  @extend .btn-primary;
  border: 0;

  @include hover-state {
    border: 0;
  }
}

.button--alt {
  @extend .btn;
  background-color: transparent;
  border: 1.5px solid $purple;
  color: $purple;
  
  @include hover-state {
    background-color: lighten($purple, 60%);
    color: $purple;
  }
}

.button--small { @extend .btn-sm }

.card--white {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  padding: 24px;

  &.card--feature {
    margin: 0 auto 12px auto;
    max-width: 800px;
    display: flex;
    align-items: center;
    flex-direction: row;

    .card-feature-summary {
      margin-right: 24px;
      flex-grow: 1;
    }
    
    .score-circle {
      height: 40px;
      width: 40px;
      border: 1.5px solid $green;
      line-height: 40px;
      text-align: center;
      border-radius: 40px;
      color: $green;
      margin-right: 12px;
    }

    .card-feature-upvote {
      width: 10px;
    }
  }
}

.action--taken {
  color: $red;
}