/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require_tree .
 *= require_self
 */


@import 'base';
@import 'modules/cards';

body {
  padding-top: 80px;
  background-color: #F8F8FA;
}

.navbar-default {
  background-color: #FFF;
}

.button--primary {
  @extend .btn;
  @extend .btn-primary;

  border: 0;
  padding: 8px 24px;

  @include hover-state {
    border: 0;
  }
}

.button--block {
  @extend .btn-block;
}

.button--alt {
  @extend .btn;
  background-color: transparent;
  border: 1.5px solid $purple;
  color: $purple;
  
  @include hover-state {
    background-color: lighten($purple, 60%);
    color: $purple;
  }
}

.button--small { @extend .btn-sm }

.flex-header {
  display: flex;
  max-width: 800px;
  margin: auto;
  justify-content: space-between;
  align-items: center;

  .header {
    margin: 0;
    flex-grow: 1;
  }
}

.action--taken {
  color: $red;
}