$purple: #560CA1;
$green: #0CA124;
$blue: #186ED6;
$red: #851616;
$dark: #333;
$white: #FFF;

$brand-primary: $blue;
$border-radius-base: 3px;
$font-family-sans-serif: "Source Sans Pro", Helvetica, Arial, sans-serif;

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'utility';

@mixin hover-state {
  &:hover,
  &:active,
  &:focus,
  &:active:focus {
    @content;
  }
}

.button--primary {
  @extend .btn;
  @extend .btn-primary;

  border: 0;
  padding: 8px 24px;

  @include hover-state {
    border: 0;
  }
}

.button--block {
  @extend .btn-block;
}

.button--alt {
  @extend .btn;
  background-color: transparent;
  border: 1.5px solid $purple;
  color: $purple;
  
  @include hover-state {
    background-color: lighten($purple, 60%);
    color: $purple;
  }
}

.button--small { @extend .btn-sm }

