.u-mt--0 {
  margin-top: 0 !important;
}

.u-mt--1 {
  margin-top: 12px !important;
}

.u-mt--2 {
  margin-top: 24px !important;
}

.u-mt--3 {
  margin-top: 36px !important;
}

.u-mt--4 {
  margin-top: 48px !important;
}

.u-mb--0 {
  margin-bottom: 0 !important;
}

.u-mb--1 {
  margin-bottom: 12px !important;
}

.u-mb--2 {
  margin-bottom: 24px !important;
}

.u-mb--3 {
  margin-bottom: 36px !important;
}

.u-mb--4 {
  margin-bottom: 48px !important;
}

.u-mlr--auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.u-color--blue {
  color: #186ED6 !important;
}

.u-border--bottom {
  border-bottom: 1.5px solid #186ED6;
  padding-bottom: 4px;
}