.u-mt--0 {
  margin-top: 0 !important;
}

.u-mt--1 {
  margin-top: 12px !important;
}

.u-mt--2 {
  margin-top: 24px !important;
}

.u-mb--0 {
  margin-bottom: 0 !important;
}

.u-mb--1 {
  margin-bottom: 12px !important;
}

.u-mb--2 {
  margin-bottom: 24px !important;
}